{% if news.has_title? %} 
<h3>{{ news.title }}</h3>
{% endif %}

<div class="news">

{% if news.has_date? %}
<p class="news_date">{{ news.display_date }}<p>
{% endif %}

{{ news.body | textilize }}

</div>

