<div id="PrimaryColumn"> 
  {% if news.has_title? %} 
  <h2 class="news">{{ news.title }}</h2>
  {% endif %}

  {% if news.has_date? %}
  <p class="news-added">{{ news.display_date }}<p>
  {% endif %}

  {{ news.body | textilize }}

</div>
