<div class="column full-width">
  {% for portfolio in portfolios %}
		<a href="{{ portfolio.page_url }}" class="image-list-item">
			{% if website.square_thumbs %}
				{{ portfolio.featured_image | responsive_image_large_square_thumb }}
			{% else %}
				{{ portfolio.featured_image | responsive_image_large }}"
			{% endif %}
			<p>{{ portfolio.name }}</p>
		</a>
	{% endfor %}
</div>
