<div class="column full-width">
  {% for portfolio in portfolios %}
		<a href="{{ portfolio.page_url }}" class="image-list-item">
			<h3>{{ portfolio.name }}</h3>
			{{ portfolio.featured_image | responsive_image_large }}"
		</a>
	{% endfor %}
</div>
