<div class="{{ page.path }}">
  <div id="PrimaryColumn"> 
    {{ page.body | textilize }}
  </div>

  <div id="SecondaryColumn">
    {% if page.path == 'about' %}
    <h2>Contact</h2>
    <p>Send an email to <a href="mailto:{{ website.contact_email }}">{{ website.contact_name }}</a></p>
    {% endif %}
  </div>
  
</div>
