<div id="PrimaryColumn">
  {{ page.body | textilize }}
</div>

  <div id="SecondaryColumn">
    {% if page.show_contact_form %}

      {% if thanks %}
      <p class="thanks">Thank you for your message.</p>
      {% else %}

      <h2>Contact</h2>

      {% if contact_error %}
      <p class="error">You must fill out the entire form with valid values</p>
      {% endif %}

      <form method="post">
        <input name="authenticity_token" type="hidden" value="{{ authenticity_token }}" />
        <table border="0" class="contact-table">
          <tr>
            <td class="label" valign="top">
              <label>Your Name</label>
            </td>
            <td>
              <input type="text" id="name" name="name"/>
            </td>
          </tr>
          <tr>
            <td class="label" valign="top">
              <label>Your E-mail</label>
            </td>
            <td>
              <input type="text" id="email" name="email"/>
            </td>
          </tr>
          <tr>
            <td class="label" valign="top">
              <label>Subject</label>
            </td>
            <td>
              <input type="text" id="subject" name="subject"/>
            </td>
          </tr>
          <tr>
            <td class="label" valign="top">
              <label>Message</label>
            </td>
            <td>
              <textarea id="message" name="message"></textarea>
            </td>
          </tr>
          <tr>
            <td class="label" valign="top">
            </td>
            <td>
              <input type="submit" />
            </td>
          </tr>
        </table>
      </form>
      {% endif %}
    {% endif %}
  </div>
