<div class="column"> 
  <h3>{{ press_item.title | escape }}</h3>

  {% if press_item.has_display_date? %}
  <h4>{{ press_item.display_date }}</h4>
  {% endif %}

  {{ press_item.body | textilize }}
</div>
