<div id="PrimaryColumn"> 

  <h2 class="press">{{ press_item.title | escape }}</h2>

  {% if press_item.has_display_date? %}
  <p class="press-added">{{ press_item.display_date }}<p>
  {% endif %}
  
  {{ press_item.body | textilize }}

</div>
